.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

body {
    font-family: Roboto, sans-serif;
}

.logo {
    width: 70px;
    height: 70px;
}

.navbar {
    /* background-color: #7fd39b; */
    background-color: #A0C14F;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-destino .nav-link.active:hover {
    color: #fff;
}

#destino {
    background-color: #FFD8A8;
}

.section-title {
    font-family: Pacifico, cursive;
}

.text-colored {
    color: #e15f41;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}